.wrapper{
position: relative;
}
.fartVideo{
    width: 500px;
    position: absolute;
    opacity: 0.7;  
}
.flyer{
    width: 500px;
    position: absolute;
}

.logo{
    top: 600px;
    left: 300px;
    width: 600px;
    position: relative;
}